@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.app-container {
    animation: slideup 0.7s ease-out;
}

.modal-container {
    animation: slideup 0.7s ease-out;
}

header {
    background-color: white;
}

@media (min-width: 1120px) {
    header {
        position: sticky;
        top: 0;
    }
}
