<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://developers.kite.trade/static/images/app-icons/12hpqpbfwnxyvud8.png"
        type="image/x-icon" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/smallcaseDetail.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <title>Invest Now</title>
</head>

<body>
    <div class="root">
        <!-- header -->
        <%- include("../components/header") %> 
        <!-- header ends -->

        <!-- App container -->
        <div class="app-container">

            <!-- main div -->
            <div class="main"></div>
            <!-- main div ends -->


            <!-- footer -->
            <%- include("../components/footer") %> 
            <!-- footer ends -->
        </div>
    </div>
</body>

</html>