* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.73;
}

/* ***************  css variables  ************ */

:root {
  --mainBlue: #1f7ae0;
  --landingPosterBackgroundColor: #f9fafb;
  --lightGray: #d5d6d8;
  --darkGray: #737a7f;
  --btnBoxShadow: 0 1px 5px rgb(0 0 0 / 20%);
  --headerHeight: 60px;
  --btnBorderRadius: 4px;
}

/* ********************  header   *************** */

.header-div {
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 472px;
  margin: auto;
}

header {
  border-bottom: 1px solid var(--lightGray);
}

header a {
  text-decoration: none;
  color: black;
}

header button {
  cursor: pointer;
  padding: 10px 12px;
  background-color: white;
  border: 1px solid var(--lightGray);
  color: #535b62;
  border-radius: var(--btnBorderRadius);
}

.discover-btn {
  color: var(--darkGray);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}

.header-right {
  display: flex;
}

.login-div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.login-p {
  font-weight: 15px;
  font-weight: 600;
}

/* changes in header */

.img-1 {
  height: 40px;
  width: 40px;
}

.img-2 {
  display: none;
}

.img-1 > img,
.img-2 > img {
  width: 100%;
}

/******************* footer style ****************/

footer {
  background-color: #f9fafb;
  color: var(--darkGray);
  margin: 54px 0 0;
  font-size: 12px;
}

.footer-div {
  width: 472px;
  margin: auto;
}

.footer-top-part {
  border-bottom: 1px solid var(--lightGray);
}

.footer-top-part > p {
  display: none;
}

.footer-btns {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  color: black;
}

.footer-btns > p {
  cursor: pointer;
}

.footer-bottom-part-left > p {
  font-size: 10px;
  text-align: center;
}

.footer-btns > p:hover {
  color: var(--mainBlue);
}

.footer-bottom-part-left {
  padding: 8px 0;
}

.footer-bottom-part-left > img {
  display: none;
}

.footer-bottom-part-right {
  display: none;
}

/* footer ends */

/* All smallcases */

.main {
  width: 472px;
  margin: auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

.main-top {
  border-bottom: 1px solid var(--lightGray);
  margin-bottom: 32px;
  margin-top: 24px;
}

.top-links > a {
  text-decoration: none;
  color: black;
}

.top-links > a:hover {
  color: var(--mainBlue);
}

.top-links {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

/* products */

.smallcases {
  width: 70%;
}

.product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--lightGray);
  padding: 16px;
}

.product:hover {
  border-radius: var(--btnBorderRadius);
  box-shadow: var(--btnBoxShadow);
}

.product-main-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-main-info > img {
  width: 48px;
  height: 48px;
  border-radius: var(--btnBorderRadius);
}

.product-short-info {
  height: 44px;
  margin-top: 8px;
  color: #4f5153;
  font-size: 14px;
}

.product-main-info > p {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.stat-1,
.stat-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}

.stat-1 > p:first-child,
.stat-2 > p:first-child {
  color: #81878c;
  font-size: 12px;
}

.stat-3 > p {
  cursor: pointer;
  border: 1px solid var(--lightGray);
  border-radius: var(--btnBorderRadius);
  padding: 4px 8px;
  font-size: 14px;
  color: #535b62;
}

/* filters */

.smallcase-page {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.filters {
  font-size: 14px;
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-heading {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #4f5153;
  border-bottom: 1px solid var(--lightGray);
  padding-bottom: 8px;
}

.filter-heading > p:last-child {
  cursor: pointer;
}

.investment-amount-filter,
.volatility-filter,
.sorting-filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.investment-amount-filter > p,
.volatility-filter > p,
.sorting-filters > p {
  font-weight: 600;
}

.amount-filter,
.sort-filter {
  display: flex;
  align-items: center;
}

.filter-icon {
  margin-right: 8px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--lightGray);
}

#filter-icon-blue {
  border: 4px solid var(--mainBlue);
}

#clearFilters {
  color: var(--darkGray);
  font-weight: 500;
}
.volatility-btns {
  display: flex;
  justify-content: space-between;
}

.volatility-btn {
  cursor: pointer;
  border: 1px solid var(--lightGray);
  border-radius: var(--btnBorderRadius);
  padding: 8px 8px;
  font-size: 10px;
  font-weight: 500;
  color: var(--darkGray);
}

.volatility-btn:hover {
  background-color: rgba(129,135,140,.08);
}


#volatility-btn-blue {
  border: 2px solid var(--mainBlue);
  color: var(--mainBlue);
}

/* media queries */

@media (min-width: 1120px) {
  .filters {
    width: 22%;
  }

  .stats {
    margin: 0;
  }

  .volatility-btn {
    font-size: 12px;
    width: 80px;
    text-align: center;
  }

  .product-short-info {
    height: 34px;
  }
  .smallcases {
    margin-top: -13px;
  }

  .main {
    width: 1120px;
    margin: auto;
  }
  /* header */

  .root {
    height: 100vh;
  }

  .app-container {
    height: calc(100vh - var(--headerHeight));
    overflow-y: scroll;
  }

  .header-div {
    width: 1120px;
    display: flex;
  }

  .img-2 {
    height: 30px;
    display: unset;
  }

  .img-1 {
    display: none;
  }

  /* footer */
  /* footer */

  footer {
    font-size: 14px;
  }

  .footer-bottom-part-left > p {
    font-size: 12px !important;
  }

  .footer-div {
    width: 1120px;
  }

  .footer-top-part {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 24px;
  }

  .footer-top-part > p {
    display: flex;
  }

  .footer-btns {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 10px;
    margin: 0;
    color: black;
  }

  .footer-bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 24px;
  }

  .footer-bottom-part-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-bottom-part-left > img {
    display: unset;
    width: 138px;
  }

  .footer-bottom-part-right {
    display: unset;
  }

  .footer-bottom-part-right > img {
    margin-left: 10px;
  }
}
