<footer>
    <div class="footer-div">
        <div class="footer-top-part">
            <p>&copy; Powered by smallcase Technologies Pvt. Ltd. Email us at
                <span>support@smallcase.com</span>
            </p>
            <div class="footer-btns">
                <p>Help</p>
                <p>Disclosures</p>
                <p>More</p>
            </div>
        </div>
        <div class="footer-bottom-part">
            <div class="footer-bottom-part-left">
                <img src="https://assets.smallcase.com/images/brokers/kite/zerodha-logo.png" alt="">
                <p>NSE & BSE – SEBI Registration No: INZ000031633 | CDSL - SEBI Registration No:
                    IN-DP-431-2019</p>
            </div>

            <div class="footer-bottom-part-right">
                <img src="https://assets.smallcase.com/images/brokers/kite/secure.png" alt="">
                <img src="https://assets.smallcase.com/images/brokers/kite/social-trust.png" alt="">
            </div>
        </div>
    </div>
</footer>