* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.73;
}

/* ***************  css variables  ************ */

:root {
  --mainBlue: #1f7ae0;
  --landingPosterBackgroundColor: #f9fafb;
  --lightGray: #d5d6d8;
  --darkGray: #737a7f;
  --btnBoxShadow: 0 1px 2px rgb(0 0 0 / 15%);
  --headerHeight: 60px;
  --btnBorderRadius: 4px;
}

/* ********************  header   *************** */

.header-div {
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 472px;
  margin: auto;
}

header {
  border-bottom: 1px solid var(--lightGray);
}

header a {
  text-decoration: none;
  color: black;
}

header button {
  cursor: pointer;
  padding: 10px 12px;
  background-color: white;
  border: 1px solid var(--lightGray);
  color: #535b62;
  border-radius: var(--btnBorderRadius);
}

.discover-btn {
  color: var(--darkGray);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}

.header-right {
  display: flex;
}

.login-div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.login-p {
  font-weight: 15px;
  font-weight: 600;
}

/* changes in header */

.img-1 {
  height: 40px;
  width: 40px;
}

.img-2 {
  display: none;
}

.img-1 > img,
.img-2 > img {
  width: 100%;
}
/******************* footer style ****************/

footer {
  background-color: #f9fafb;
  color: var(--darkGray);
  margin: 54px 0 0;
  font-size: 12px;
}

.footer-div {
  width: 472px;
  margin: auto;
}

.footer-top-part {
  border-bottom: 1px solid var(--lightGray);
}

.footer-top-part > p {
  display: none;
}

.footer-btns {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  color: black;
}

.footer-btns > p {
  cursor: pointer;
}

.footer-bottom-part-left > p {
  font-size: 10px;
  text-align: center;
}

.footer-bottom-part {
  padding-bottom: 80px;
}

.footer-btns > p:hover {
  color: var(--mainBlue);
}

.footer-bottom-part-left {
  padding: 8px 0;
}

.footer-bottom-part-left > img {
  display: none;
}

.footer-bottom-part-right {
  display: none;
}

/* smallcase detail page styles */

.gray-box {
  background-color: #f9fafb;
  height: 221px;
  padding: 24px 0;
}

.top-detail-box {
  margin: auto;
  margin-top: 20px;
  width: 472px;
}

.product-main-info {
  display: flex;
  gap: 16px;
}

.product-name {
  font-weight: 700;
  font-size: 21px;
}

.product-main-info > img {
  width: 48px;
  height: 48px;
  border-radius: var(--btnBorderRadius);
}

.product-short-info {
  height: 44px;
  margin-top: 12px;
  font-size: 15px;
}

.product-main-info > p {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px;
}

.stats {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-1,
.stat-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.stat-1 > p:first-child,
.stat-2 > p:first-child {
  color: #81878c;
  font-size: 12px;
}

.stat-3 > p {
  border: 1px solid var(--lightGray);
  border-radius: var(--btnBorderRadius);
  padding: 4px 8px;
  font-size: 14px;
  color: #535b62;
}

.long-description {
  width: 520px;
  margin: auto;
  font-size: 15px;
}

.overview {
  margin: 0 32px 0 0;
  font-size: 16px;
  border-bottom: 1px solid var(--lightGray);
  padding: 16px 0;
  color: var(--mainBlue);
  font-weight: 500;
}

.question {
  margin: 16px 0 0;
  font-size: 18px;
  font-weight: 600;
}

.question + p {
  margin-top: 16px;
}

ul {
  margin: 16px 0;
  padding-left: 40px;
}

.payment-section-responsive {
  display: none;
}

.payment-section {
  position: fixed;
  bottom: 0;
  height: 75px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 1px 6px 1px rgba(119, 104, 104, 0.51);
}

.payment-section-btn {
  width: 120px;
  font-size: 13px;
  padding: 12px 13px;
  box-shadow: var(--btnBoxShadow);
  background-color: #27bc94;
  color: white;
  border: none;
  font-weight: 500;
  margin-bottom: 7px;
  border-radius: var(--btnBorderRadius);
}

.payment-section-btn:hover,
.payment-section-btn-modal:hover {
  background-color: #27c59a;
  border-color: #27c59a;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 12%);
  transform: translateY(-1px);
}

/* modal styles */

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
}

.modal-container {
  height: 682px;
  width: 400px;
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightGray);
  box-shadow: var(--btnBoxShadow);
  border-radius: var(--btnBorderRadius);
}

.top-row {
  background-color: var(--lightGray);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  height: 60px;
  padding: 20px;
}

.top-row > p {
  font-size: 14px;
}

.close-modal {
  margin-left: 66px;
  cursor: pointer;
  font-weight: 500;
}

.mid-row {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 8px;
}

.mid-row > p {
  color: var(--darkGray);
  font-size: 14px;
}

.top-row > img {
  width: 30px;
  height: 30px;
}

.amount-box {
  border-radius: 2px;
  border: 1px solid var(--lightGray);
  cursor: pointer;
  box-shadow: var(--btnBoxShadow);
  margin: 0 20px;
  width: 200px;
  padding: 16px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.increment-btns {
  margin: 20px;
  display: flex;
  gap: 10px;
}

.increment-btns > button {
  border: none;
  padding: 10px 16px;
  border-radius: 2px;
  border: 1px solid var(--lightGray);
  background-color: white;
  cursor: pointer;
  box-shadow: var(--btnBoxShadow);
  color: var(--mainBlue);
}

.payment-section-btn-modal,
.gotoOrders-btn {
  width: 120px;
  font-size: 13px;
  padding: 12px 13px;
  box-shadow: var(--btnBoxShadow);
  background-color: #27c59a;
  color: white;
  border: none;
  font-weight: 500;
  margin-bottom: 7px;
  border-radius: var(--btnBorderRadius);
  align-self: center;
  margin-top: 10px;
  cursor: pointer;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200;
  margin: 0 20px;
}

.payment > input {
  padding: 10px;
  border: 1px solid var(--lightGray);
  border-radius: var(--btnBorderRadius);
}

.modal-container > h2 {
  margin: 55px 31px;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200;
  margin: 0 20px;
}

.payment > input {
  padding: 10px;
  border: 1px solid var(--lightGray);
  border-radius: var(--btnBorderRadius);
}

.modal-container > h2 {
  margin: 55px 31px;
}

/* media queries */

@media (min-width: 1120px) {
  .long-description {
    width: 795px;
  }

  .modal-container {
    width: 600px;
  }

  .close-modal {
    margin-left: 302px;
  }

  .payment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: 0 20px;
  }

  .payment > input {
    padding: 10px;
  }

  .modal-container > h2 {
    margin: 55px 31px;
  }

  .top-detail-box {
    width: 1120px;
  }

  .top-detail-box {
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
  }

  .stats {
    display: flex;
    gap: 50px;
    margin: 0;
  }

  .stat-1,
  .stat-2 {
    font-weight: 500;
    font-size: 18px;
  }

  .stat-1 > p:first-child,
  .stat-2 > p:first-child {
    color: #81878c;
    font-size: 14px;
  }

  .product-main-info > img {
    height: 80px;
    width: 80px;
  }

  .gray-box {
    width: 1200px;
    margin: auto;
    height: 147px;
    margin-top: 34px;
    border-radius: var(--btnBorderRadius);
  }

  /* header */

  .root {
    height: 100vh;
  }

  .app-container {
    height: calc(100vh - var(--headerHeight));
    overflow-y: scroll;
  }

  .header-div {
    width: 1120px;
    display: flex;
  }

  .img-2 {
    height: 30px;
    display: unset;
  }

  .img-1 {
    display: none;
  }

  /* footer */

  footer {
    font-size: 14px;
  }

  .footer-bottom-part-left > p {
    font-size: 12px !important;
  }

  .footer-div {
    width: 1120px;
  }

  .footer-top-part {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 24px;
  }

  .footer-top-part > p {
    display: flex;
  }

  .footer-btns {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 10px;
    margin: 0;
    color: black;
  }

  .footer-bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 24px;
    padding-bottom: 80px;
  }

  .footer-bottom-part-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-bottom-part-left > img {
    display: unset;
    width: 138px;
  }

  .footer-bottom-part-right {
    display: unset;
  }

  .footer-bottom-part-right > img {
    margin-left: 10px;
  }
}
