* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.73;
}

/* ***************  css variables  ************ */

:root {
  --mainBlue: #1f7ae0;
  --landingPosterBackgroundColor: #f9fafb;
  --lightGray: #d5d6d8;
  --darkGray: #737a7f;
  --btnBoxShadow: 0 1px 5px rgb(0 0 0 / 20%);
  --headerHeight: 60px;
  --btnBorderRadius: 4px;
}

/* ********************  header   *************** */

.header-div {
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: auto;
  width: 472px;
}

header {
  border-bottom: 1px solid var(--lightGray);
}

header a {
  text-decoration: none;
  color: black;
}

header button {
  cursor: pointer;
  padding: 10px 12px;
  background-color: white;
  border: 1px solid var(--lightGray);
  color: #535b62;
  border-radius: var(--btnBorderRadius);
}

.discover-btn {
  color: var(--darkGray);
}

.discover-btn:hover {
  color: #2f363f;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}

.header-right {
  display: flex;
}

.login-div {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: auto;
}

.login-p {
  font-weight: 15px;
  font-weight: 600;
}

/* changes in header */

.img-1 {
  height: 40px;
  width: 40px;
}

.img-2 {
  display: none;
}

.img-1 > img,
.img-2 > img {
  width: 100%;
}

/******************* footer style ****************/

footer {
  background-color: #f9fafb;
  color: var(--darkGray);
  margin: 54px 0 0;
  font-size: 12px;
}

.footer-div {
  width: 472px;
  margin: auto;
}

.footer-top-part {
  border-bottom: 1px solid var(--lightGray);
}

.footer-top-part > p {
  display: none;
}

.footer-btns {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  color: black;
}

.footer-btns > p {
  cursor: pointer;
}

.footer-bottom-part-left > p {
  font-size: 10px;
  text-align: center;
}

.footer-btns > p:hover {
  color: var(--mainBlue);
}

.footer-bottom-part-left {
  padding: 8px 0;
}

.footer-bottom-part-left > img {
  display: none;
}

.footer-bottom-part-right {
  display: none;
}

/* footer ends */
/* media queries */

@media (min-width: 989px) {
  /* header */

  .img-2 {
    height: 30px;
    display: unset;
  }

  .img-1 {
    display: none;
  }

  /* footer */

  footer {
    font-size: 14px;
  }

  .footer-top-part {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 24px;
  }

  .footer-top-part > p {
    display: flex;

    margin-left: 40px;
  }

  .footer-btns {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 10px;
    margin: 0;
    color: black;
    margin-right: 40px;
  }

  .footer-bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 24px;
  }

  .footer-bottom-part-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-bottom-part-left > img {
    display: unset;
    width: 138px;
  }

  .footer-bottom-part-right {
    display: unset;
  }

  .footer-bottom-part-right > img {
    margin-left: 10px;
  }
}

/* media queries */

@media (min-width: 1120px) {
  /* header */
  .header-div {
    width: 1120px;
    display: flex;
    margin: auto;
  }

  .img-2 {
    height: 30px;
    display: unset;
  }

  .img-1 {
    display: none;
  }

  /* footer */
  /* footer */

  footer {
    font-size: 14px;
  }

  .footer-bottom-part-left > p {
    font-size: 12px !important;
  }

  .footer-div {
    width: 1120px;
  }

  .footer-top-part {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 24px;
  }

  .footer-top-part > p {
    display: flex;
  }

  .footer-btns {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 10px;
    margin: 0;
    color: black;
  }

  .footer-bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 24px;
  }

  .footer-bottom-part-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-bottom-part-left > img {
    display: unset;
    width: 138px;
  }

  .footer-bottom-part-right {
    display: unset;
  }

  .footer-bottom-part-right > img {
    margin-left: 10px;
  }

}
  /*main css  */
  /* Invest in ideas with smallcases end */
 .margin1120{
   background-color: whitesmoke;
   border-bottom: 1px solid var(--lightGray);
 }
.paragraph{
  width: 1120px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  height: 661px;
}
.para {
  margin: auto;
}
.para_h1 {
  color: #2f363f;
  line-height: 1.1;
  font-weight: bold;
}
.para1 {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 56px;
  color: #535b62;
}
.para_2 {
  margin-bottom: 16px;
  line-height: 1.57;
  font-size: 18px;
  color: #535b62;
}
.startedbox1 {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: auto;
  margin-top: 30px;
}

.box1 {
  width: 256px;
  padding: 24px;
  text-align: left;
  margin-bottom: -64px;
  transition: transform .5s ease-out;
  background-color: white;
  border: 1px solid var(--lightGray);
  border-radius: 4px;
  text-decoration: none;
}

.startedflex {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 77px
}
.no {
  flex-direction: column;
  border-radius: 4px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}
.started:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 12%);
  background-color: #2685ef;
  border-color: #2685ef;
}
.smallcase:hover {
  color: var(--mainBlue)
}
.smallcase {
  color: var(--mainBlue);
  font-weight: bolder;
  padding: 16px 24px;
}
.started {
  border: 1px solid var(--mainBlue);
  background-color: #1f7ae0;
  color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  margin-right: 32px;
  font-size: 15px;
  padding: 14px 34px;
}

.image {
  height: 80px;
  width: 80px;
}

.para_h3 {
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Graphik Web Medium", sans-serif;
  color: #2f363f;
}
.para_h3:hover {
  color: var(--mainBlue);
}
.box_para {
  width: 170px;
  color: #535b62;
  margin-bottom: 12px;
  line-height: 1.69;
  font-size: 14px;
}
.view {
  color: #81878c;
  font-size: 12px;
}
.image {
  margin-bottom: 23px;
}
.number {
  color: #19af55;
  line-height: 1.69;
  font-family: "Graphik Web Medium", sans-serif;
  font-size: 14px;
}
@media screen and (max-width: 1120px){
  .paragraph{
    width: 472px;
    margin: auto;
    margin-bottom: 16px;
    overflow: visible;
    height: 820px;
}

.startedbox1 {
  overflow-x: scroll;
  width: 100%;
}

.para1 {
  margin: 0;
  padding: 60px;
}

.box1 {
  margin: 0;
}

  .mine {
    max-width: 600px;
    margin-bottom: 10px;
  }
  .para_2 {
    text-align: center;
  }
  .para_h1{
    font-size: 35px;
    width: 330px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    }
}
@media screen and (max-width: 786px){
  .paragraph{
    width: 472px;
    margin: auto;
  }
  .mine {
    max-width: 500px;
   margin-bottom: 20px;
  }
  .para_2 {
    text-align:center;
  }
  .para_h1{
  font-size: 35px;
  width: 330px;
  margin: auto;
  margin-bottom: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .paragraph{
    width: 1120px;
    margin: auto;
  }
  .para_h1{
    font-size: 48px;
    width: 600px;
    margin-bottom: 25px;
    }
  .mine {
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
  }
  .para_2 {
    text-align: center;
  }
  .box1:hover {
    margin-bottom:-50px;
    transform: translateY(-68px);
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 30%);
  }
}
/* Invest in ideas with smallcases end */
/* video part start */
.video {
  /* padding-top: 60px; */
  margin: auto;
}
.videolink {
  text-align: center;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.video_p1 {
  font-size: 18px;
  line-height: 1.57;
  color: #535b62;
  margin: auto;
}
.video_h2 {
  line-height: 1.3;
  letter-spacing: -0.8;
  font-family: "Graphik Web Semibold", sans-serif;
  color: #2f363f;
}
.video_para2 {
  max-width: 570px;
  margin: auto;
  line-height: 1.57;
  font-size: 16px;
  margin-bottom: 30px;
  color: #535b62;
}
.video_button {
  display: flex;
  margin-top: 40px;
}
.video_figure {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -9%);
  font-size: 100%;
}
.figure1 {
  background: #d82f44;
  padding: 12px;
  border-radius: 100%;
}
.play::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 3px;
  border-left: 20px solid #ffffff;
  border-bottom: 10px solid transparent;
  border-right: 0 solid transparent;
  border-top: 14px solid transparent;
}
.play {
  font-size: 100%;
  max-width: 100vw;
}
.video_figure {
  margin: auto;
}
@media screen and (min-width: 768px) {
  .video_button {
    max-width: 500px;
  }
  .figure1 {
    width: 50px;
    height: 50px;
    margin-right: 460px;
  }
  .videolink{
    width: 472px;
  }
  .video_h2{
    max-width: 700px;
    margin: auto;
    font-size:25px;
  }
}
@media screen and (max-width: 786px) {
  .video_button {
    max-width: 500px;
  }
  .figure1 {
    width: 50px;
    height: 50px;
    margin-right: 460px;
  }
  .videolink{
    width: 472px;
  }
  .video_h2{
    max-width: 700px;
    font-size: 25px;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .video_button {
    max-width: 660px;
  }
  .figure1 {
    width: 50px;
    height: 50px;
    margin-right: 620px;
  }
  .videolink{
    width: 1120px;
  }
  .video_h2{
    max-width: 700px;
    margin: auto;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top:15px;
  }
}
/* video part end */

/* Portfolio investing, done right start */

.flex {
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  justify-content: space-between;
  
}
.div_para {
  margin: 10px;
  margin: auto;
}
.div_para1 {
  margin-top: 70px;
  line-height: 1.57px;
  font-size: 18px;
  color: #535b62;
}
.div_h2 {
  font-size: 34px;
  line-height: 1.33;
  letter-spacing: -0.8px;
  font-family: "Graphik Web Semibold", sans-serif;
  margin-top: 30px;
  color: #2f363f;
}
.div_flex {
  display: flex;
  justify-content: space-between;
}
.div_flex1 {
  margin: 10px;
}

.image2 {
  margin-bottom: 16px;
}
.div_h4 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #2f363f;
}
.div_p {
  line-height: 1.57;
  font-size: 16px;
  color: #535b62;
}
.font-medium {
  font-family: "Graphik Web Medium", sans-serif;
  color: #535b62;
}
@media screen and (max-width: 786px) {
  .div_flex {
    flex-direction: column;
    margin: auto;
  }
  .flexd {
    text-align: center;
  }
  .div_para{
    /* width: 472px; */
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .div_flex {
    flex-direction: column;
    margin: auto;
  }
  .flexd {
  text-align: center;
  }
  .div_para{
    width: 472px;
   margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .div_flex {
    flex-direction: row;
  }
  .flexd {
    text-align: center;
  }
  .div_flex1{
    width: 300px;
  }
  .div_para{
    width: 1120px;
    margin: auto;
  }
}
/* Portfolio investing, done right end */

/* Build your long term portfolio with smallcases start */
.finalsection {
  margin: auto;
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 50px;
}
.finalsection1{

  margin: 50px;
}
.finalselectionh2 {
  text-align: center;
}
.finalselectionp {
  margin-top: 50px;
  margin-bottom: 12px;
  font-size: 18px;
  color: #535b62;
  text-align: center;
}
.finalselectionh2 {
  font-size: 33px;
  line-height: 1.33;
  letter-spacing: -0.8px;
  font-family: "Graphik Web Semibold", sans-serif;
  margin-bottom: 64px;
  color: #2f363f;
}
.finaldiv1 {
  display: flex;
  justify-content: space-between;
}

.firstbox1image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.firstbox2 {
  display: flex;
  flex-direction: row;
}
.imagebox {
  display: inline-block;
  margin-bottom: 50px;
  vertical-align: top;
  margin-right: 16px;
  text-align: left;
  color: #535b62;
}
.firstboxinner {
  width: calc(100% - 66px);
  display: inline-block;
  color: #535b62;
}
.firstbox1innerh3 {
  margin-bottom: 4px;
  font-size: 16px;
  font-family: "Graphik Web Medium", sans-serif;
  color: #2f363f;
  margin-top: -5px;
}
.firstbox1innerp {
  line-height: 1.57;
  font-size: 14px;
  color: #535b62;
}
.firstbox1h3 {
  margin-bottom: 4px;
  font-size: 16px;
  font-family: "Graphik Web Medium", sans-serif;
  color: #2f363f;
  max-width: 100vw;
}
.firstbox1p {
  margin-bottom: 32px;
  line-height: 1.38;
  font-size: 13px;
  color: #535b62;
  text-align: left;
}
.firstbox1a {
  width: 75px;
  height: 40px;
  background-color: var(--mainBlue);
  color: white;
  width: 100% !important;
  display: inline-block;
  box-shadow: 0 0px 2px rgb(0 0 0 / 15%);
  font-size: 13px;
  text-align: center;
  padding: 9px 13px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  font-weight: 500;
}
.firstbox1a:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 12%);
    background-color: #2685ef;
    border-color: var(--mainBlue)
}

.finalsection2a {
  font-size: 13px;
  padding: 9px 114px;
  background-color: white;
  color: var(--mainBlue);
  text-decoration: none;
  border: 1px solid rgba(31, 122, 244, 0.3);
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.finalsection2a:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 12%);
  background-color:white;
  border: 1px solid rgba(31, 122, 224, 0.4);
}
@media screen and (max-width: 768px) {
  .finaldiv1 {
    flex-direction: column;
    margin: auto;
    gap: 20px;
  }
  .finalsection{
    width: 472px;
    
  }
  .finalsection2 {
    text-align: center;
    margin: auto;
  }
  .firstbox1{
    width: 468px;
    height: 290px;
    padding: 24px 16px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  
  .finalselectionh2{
    margin: auto;
    width: 400px;
    font-size: 30px;
  }
}
/*build your lomng term goal end */

/*   <!-- became investor start --> */
.becomeinvestor {
  background-color: #e1f3ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto auto auto;
}
.becameinvestorbox {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}
.becameinvestorinnerbox {
  text-align: center;
}
.becameinvestorh2 {
  font-size: 34px;
  line-height: 1.33;
  letter-spacing: -0.8px;
  font-family: "Graphik Web Semibold", sans-serif;
  margin-bottom: 16px;
}
.becameinvestora:hover{
  transform: translateY(-1px);
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 12%);
  border-color: #2685ef;
 
  
}

.becameinvestora{
  min-width: 200px;
  background-color: #1f7ae0;
  border: 1px solid #1f7ae0;
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: "Graphik Web Medium", sans-serif;
  font-size: 13px;
  text-align: center;
  border-radius: 4px;
  padding: 9px 13px;
  text-decoration: none;
}
@media only screen and (max-width: 786px) {
  .safeleft {
    display: none;
  }
  .becomeinvestor {
    width: 500px;
    height: 150px;
  }
  .becameinvestorinnerbox {
    margin-left: 40px;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .safeleft {
    display: none;
  }
  .becameinvestorinnerbox {
    align-items: center;
    justify-content: center;
  }
  .becomeinvestor {
    width: 500px;
    height: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .safeleft {
    border-radius: 10px;
    display: inline-block;
    width: 280px;
  }
  .becomeinvestor {
    width: 1000px;
    height: 310px;
    
  }
  .becameinvestorh2{
    width: 400px;
  }
}
/*   <!-- became investor start --> */

/* accordian start*/

.accordian {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.accordian {
  padding: 0;
    margin: 10px;
    padding-left: 51px;
}
.accordian1 {
  padding: 30px;
  margin: 10px;
}
.secondbox1 {
  width: 300px;
  justify-content: space-around;
}
.secondbox1 h2 {
  margin-bottom: 30px;
  margin: 4px 1.57px 16px 4px;
  font-size: 16px;
  font-family: "Graphik Web Medium", sans-serif;
  color: #535b62;
  font-weight: bolder;
}
.secondbox1 div {
  margin-top: 20px;
}
.first {
  cursor: pointer;
  border:hidden;
  text-align: left;
  outline: none;
  color: #535b62;
}

.active {
  text-align: left;
}

.maxwidth{
  text-align: left;
  margin-left: -15px;
}
.demo {
  display: none;
  overflow: hidden;
  color: #81878c;
  line-height: 1.38;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 8px;
  text-align: center;
}
.center {
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .secondbox {
    display: flex;
    flex-direction: column;
  }
  .secondbox1 {
    margin: 20px;
  }
  .accordian{
    margin-top: 20px;
    width: 472px;
    margin: auto;
  }

  .center {
    margin: unset;
  }
  .accordian1 {
    margin-top: 10px;
    padding: 0;
  }
}
@media only screen and (min-width: 786px) {
  .secondbox {
    display: flex;
    flex-direction: column;
  }
  .secondbox1 {
    margin: 20px;
  }
  .accordian{
    width: 472px;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .secondbox {
    display: flex;
    flex-direction: row;
  }
  .secondbox1 {
    margin: 25px;
  }
  .accordian{
    width: 1120px;
    margin: auto;
  }
  .accordianh2 {
    margin: auto;
    font-size: 34px;
    line-height: 1.33;
    letter-spacing: -0.8px;
    color: #2f363f;
    text-align: center;
  }
}
/* accordian end */

/* main css end **************/

.secondbox1 > h2 {
  margin-left: 0;
}

.first:hover {
  color: var(--mainBlue);
}

.demo > p {
  text-align: left;
}


@media only screen and (min-width: 1024px) {
  .finalsection2a {
    padding: 9px 98px;
  }

  .firstbox1 {
    padding: 24px 16px;
    border: 1px solid var(--lightGray);
    border-radius: 4px;
    width: 400px;
  }

  .hack {
    margin-bottom: 14px;
  }
  .finaldiv1 {
    flex-direction: row;
    gap: 16px;
  }
  .finalsection2 {
    height: 40px;
    text-align: center;
    margin: auto;
  }
  .finalsection{
    width: 1120px;
  }
  
  .finalselectionh2{
    margin: auto;
  }

  .secondbox1 {
    padding: 0;
  }

  .startedflex {
    margin-bottom: 77px !important;
  }

  .box1:hover {
    transform: translateY(-48px);
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 30%);
}

.margin-bottom {
  margin-bottom: 20px;
}

.paragraph {
  height: 711px;
}
}

header {
  z-index: 999;
}


@media only screen and (max-width: 768px)  {
  .finaldiv1 {
    margin-bottom: 20px;
  }
}

.video_button > img {
  border-radius: 4px;
}

.becameinvestora:hover {
  background-color: #2685ef;
}


header button:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
}