/* header style ----    */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  
  /* ***************  css variables  ************ */
  
  :root {
    --mainBlue: #1f7ae0;
    --landingPosterBackgroundColor: #f9fafb;
    --lightGray: #d5d6d8;
    --darkGray: #737a7f;
    --btnBoxShadow: 0 1px 2px rgb(0 0 0 / 15%);
    --headerHeight: 60px;
    --btnBorderRadius: 4px;
  }
  
  /* ********************  header   *************** */
  
  .header-div {
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  
  header {
    border-bottom: 1px solid var(--lightGray);
  }
  
  header a {
    text-decoration: none;
  }
  
  header button {
    cursor: pointer;
    padding: 10px 12px;
    background-color: white;
    border: 1px solid var(--lightGray);
    color: #535b62;
    border-radius: var(--btnBorderRadius);
  }
  
  .discover-btn {
    color: var(--darkGray);
  }
  
  .header-left {
    display: flex;
    margin: 0 56.8px;
    padding: 0 16px;
    align-items: center;
    gap: 16px;
    font-size: 14px;
  }
  
  .header-right {
    display: flex;
  }
  
  .login-div {
    display: flex;
    gap: 8px;
  }
  
  .login-p {
    font-weight: 15px;
    font-weight: 600;
  }
  
  /* changes in header */
  
  .img-1 {
    height: 30px;
  }
  
  .img-2 {
    display: none;
  }
  
  .main {
    height: 100vh;
  }


/*header style end----*/









/* order style starts*/

*{
    font-family: 'Raleway', 'sans-serif'
}


*{
    margin :0px;
    padding:0px;
}

#title{
    width:600px;
    margin: 20px auto;
   
  
  
}

#title > h1{
    margin-bottom: 10px;
    font-size: 20px;
}

#title > div{
    color: gray;
    font-size: 15px;
}

.box{
    margin:auto;
    width:600px;
  
}
.flex{
    display: flex;
    gap:30px;
    margin:auto;
    
}


.inner-flex{
    display:flex;
    gap:100px;
    color: gray;
    font-size: 15px;
     
}



.horizontal-line{
        width:600px;
        background-color: rgb(133, 127, 127);
        height:0.5px;
       
        margin: 20px auto;
    
}

.box-inner-heading{
    font: black;
    font-weight:600;
   
 
}
.box-inner-heading + div{
    margin-bottom: 20px;
    color: gray;
    font-size: 15px;
}

.flex-direction-column{
    display: flex;
    flex-direction: column;
}

.flex-direction-column  div:nth-child(2) {
    font: black;
    font-weight:600;
    color: #000;
    margin-top: 5px;
}

@media only screen and (max-width:768px) {
    #title{
       
        margin:auto;
}
}